
<div class="wrapper">
  <div class="header">
<footer class="footer">
  <div class="row">
    <div class="columns large-12 footer-inner">
      <div class="row">
        <div class="columns large-3 box">
          <div class="">
            <h2 class="footer-title">Resources</h2>
            <ul>
              <li><a href="index.html">home</a></li>
              <li><a href="gallery.html">gallery</a></li>
              <li><a href="#">faqs</a></li>
              <li><a href="contact.html">contact us</a></li>
              <li><a href="#">testimonials</a></li>
              <li><a href="blog.html">blog</a></li>
            </ul>
          </div>
        </div>
        <div class="columns large-3 box">
          <div>
            <h2 class="footer-title">links </h2>
            <ul>
              <li><a href="index.html">home</a></li>
              <li><a href="gallery.html">gallery</a></li>
              <li><a href="#">faqs</a></li>
              <li><a href="contact.html">contact us</a></li>
              <li><a href="#">testimonials</a></li>
              <li><a href="blog.html">blog</a></li>
            </ul>
          </div>
        </div>
        <div class="columns large-3 box">
          <div>
            <h2 class="footer-title">follow us</h2>
            <ul>
              <li><a href="#" class="media tweeter"></a>Follow us on twitter</li>
              <li><a href="#" class="media youtube"></a>Follow us on youtube</li>
              <li><a href="#" class="media facebook"></a>Follow us on facebook</li>
              <li><a href="#" class="media gmail"></a>Follow us on google plus</li>
            </ul>
          </div>
        </div>
        <div class="columns large-3 box">
          <div>
            <h2 class="footer-title">Contact us</h2>
            <p>255, Willson Street,Caulfield, 122211, Melbourne</p>
            <p><b>Tel:</b> (122)3456789, (121)3456079, (121)2341234</p>
            <p><b>Fax:</b> (121)5647289, (122)34526589</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

  </div>
</div>
