<div class="wrapper">
  <div class="row content-wrapper">
    <div class="columns large-12">
      <div class="row">
        <div class="columns large-12 content ">
          <h1 class="page-title">Contact Us</h1>
          <div>
            <h2 class="sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt</h2>
          </div>
          <div class="row contact-form">
            <div class="columns large-8">
              <form id="contact-form" method="post" action="#">
                <input type="text" name="name" placeholder="Name:">
                <input type="text" name="email" placeholder="Email:">
                <input type="text" name="subject" placeholder="Subject:">
                <textarea  name="message"></textarea>
                <input type="submit" class="button" name="submit" value="send">
              </form>
            </div>
            <div class="columns large-4">
              <div id="map_canvas"></div>
              <ul class="vcard">
                <li class="fn">FANTASTIC 5</li>
                <li class="street-address">255, Willson Street,Caulfield</li>
                <li class="locality">Melbourne</li>
                <li><span class="state">Victoria</span>, <span class="zip">122211</span></li>
                <li class="email"><span>Email:</span>email@domain.com</li>
                <li class="telephone"><span>Tel:</span>(122)3456789, (121)3456079, (121)2341234</li>
                <li class="fax"><span>Tel:</span>1800-726-192</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row collapse">
          <div class="columns large-12"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
