/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_colorbox
 *= require jquery.jcrop

/* *= require_stylesheet
/**= require_styles*/
 /**= require_page*/
 /**= require_scaffolds*/
 /**= require_menu*/
 /**= require_user_styles*/
 /**= require_profiles*!/*/

.header-logo
{
    width: 28%;
}


#login
{
    position: absolute;
    top: 102%;
    left: 80%;
    font-size: 2em;
}

.notice{
    font-weight: bold;
    color:darkgreen;
    font-size: 1.4em;
    text-align: center;
}


#axis:hover .move-left
{
    transform: translate(-900px,0);
    -webkit-transform: translate(-850px,0);
    -o-transform: translate(-900px,0);
    -moz-transform: translate(-900px,0);
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
}
 #axis
 {
     width:20%;
     height:20%;
     float:right;
 }
