// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*profile stying */



/* STRUCTURE */

div.field.gender-field {
  display: inline;
}

div.field.gender-field label {
  display: inline;
}

#content {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#content img {
  width: 25%;
  height: auto;
}

#middle {
  width: 294px; /* Account for margins + border values */
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#sidebar {
  width: 270px;
  padding: 5px 15px;
  float: left;
}
footer {
  clear: both;
  padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 1980px) {

  #pagewrap {
    width: 94%;
  }
  #content {
    width: 49%;
    padding: 1% 4%;
  }
  #middle {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }

  #sidebar {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

  #content {
    width: auto;
    float: none;
  }

  #middle {
    width: auto;
    float: none;
    margin-left: 0px;
  }

  #sidebar {
    width: auto;
    float: none;
  }

}

#content {
  background: #f8f8f8;
}
#sidebar, #middle {
  background: #f8f8f8;
}
header, #content, #middle, #sidebar {
  margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
  border: solid 1px #ccc;
}